<h1>New User</h1>


<%= form_tag(users_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

    <div>
    <%= label_tag :source_url %><br />
    <%= text_field_tag :source_url %>
  </div>

    <div>
    <%= label_tag :tsl_class %><br />
    <%= text_field_tag :tsl_class %>
  </div>

    <div>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>

<!--     <div>
    <%= label_tag :phone %><br />
    <%= number_field_tag :phone %>
  </div> -->

    <div>
    <%= label_tag :twitter %><br />
    <%= text_field_tag :twitter %>
  </div>


  <div>
    <%= submit_tag "Create User" %>
  </div>
<% end %>
