<h1>User #<%= @user.id %></h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Source url:</b>
  <%= @user.source_url %>
</p>

<p>
  <b>Tsl class:</b>
  <%= @user.tsl_class %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter %>
</p>


