<h1 class="span8 offset2">Tell us where you're coding.</h1>


<%= form_tag(posts_url, method: 'post', :class => 'clearfix form-horizontal span6 offset2') do %>

  <%= hidden_field_tag :user_id, @user.id %>

  <div class="control-group">
    <%= label_tag :location_id, "Location", :class => "control-label" %>
      <div class="controls">
        <%= select_tag :location_id, options_from_collection_for_select(Location.all, :id, :name) %> <br />
        <%= link_to 'Or add a new location', new_location_url %>
      </div>
  </div>

<!--   <div class="control-group">
    <%= label_tag :status, "Status", :class => "control-label" %>
      <div class="controls">
      <%= select_tag :status, options_for_select(@statuses) %>
      </div>
  </div> -->

  <div class="control-group">
    <%= label_tag :duration, "Until...", :class => "control-label" %>
      <div class="controls">
      <%= select_tag :duration, options_for_select(@durations) %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :description, "Description", :class => "control-label" %>
      <div class="controls">
      <%= text_area_tag :description %>
    </div>
  </div>

  <%= hidden_field_tag :posted_time, Time.new %>

    <div>
      <button type="submit" class="btn btn-primary span2 offset2">Create Post</button>
    </div>
<% end %>
