<h1>New Post</h1>


<%= form_tag(posts_url, method: 'post') do %>


  <div>
    <%= label_tag :user_id, "Name" %><br />
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :location_id %><br />
    <%= select_tag :location_id, options_from_collection_for_select(Location.all, :id, :name) %>
  </div>

  <div>
    <%= label_tag :status %><br />
    <%= select_tag :status, options_for_select(@statuses) %>
  </div>

  <div>
    <%= label_tag :duration, "How long will you be here?" %><br />
    <%= select_tag :duration, options_for_select(@durations) %>
  </div>

  <div>
    <%= label_tag :description %><br />
    <%= text_field_tag :description %>
  </div>


  <div>
    <%= submit_tag "Create Post" %>
  </div>
<% end %>
