<h1>Post #<%= @post.id %></h1>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location_id %>
</p>

<p>
  <b>Status:</b>
  <%= @post.status %>
</p>

<p>
  <b>Duration:</b>
  <%= @post.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


