<h1>Locations</h1>

<p><%= link_to 'Add a New Location', new_location_url %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Neighborhood</th>
    </tr>
  </thead>

  <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.neighborhood %></td>

      <td><%= link_to 'Show', location_url(location) %></td>
      <td><%= link_to 'Edit', edit_location_url(location) %></td>
      <td><%= link_to 'Destroy', location_url(location), method: 'delete', data: { confirm: "Do you really want to delete this location?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

