<h1 class="span8 offset2">Add your coding spot.</h1>


  <%= form_tag(locations_url, method: 'post', :class => 'clearfix form-horizontal span6 offset2') do %>

  <%= hidden_field_tag :user_id, @user.id %>

  <div class="control-group">
    <%= label_tag :name, "Name", :class => "control-label" %>
      <div class="controls">
      <%= text_field_tag :name %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :neighborhood, "Neighborhood", :class => "control-label" %>
      <div class="controls">
      <%= text_field_tag :neighborhood %>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary span2 offset2">Create Location</button>
  </div>
<% end %>
