<h1>New Location</h1>


<%= form_tag(locations_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= select_tag :name, options_from_collection_for_select(User.all, :id, :name) %>
  </div>

    <div>
    <%= label_tag :neighborhood %><br />
    <%= text_field_tag :neighborhood %>
  </div>

    <div>
    <%= label_tag :street %><br />
    <%= text_field_tag :street %>
  </div>

    <div>
    <%= label_tag :city %><br />
    <%= text_field_tag :city %>
  </div>

    <div>
    <%= label_tag :state %><br />
    <%= text_field_tag :state %>
  </div>


  <div>
    <%= submit_tag "Create Location" %>
  </div>
<% end %>
