<h1>Location #<%= @location.id %></h1>

<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @location.neighborhood %>
</p>

<p>
  <b>Street:</b>
  <%= @location.street %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>


