<!DOCTYPE html>
<html>
<head>
  <title>Devfinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">DevFinder</a>
      <ul class="nav">
      <li class="<%= 'active' if current_page?(posts_url) || current_page?(root_url) %>"><a href="<%= posts_url %>">Board</a></li>
      <li class="<%= 'active' if current_page?(locations_url) %>"><a href="<%= locations_url %>">Locations</a></li>
      <li><a href="https://starterleague.campfirenow.com/room/419764">Campfire</a></li>

      </ul>
      <div id="navbar-right">
        <ul class="nav">
          <% if current_user %>
            <li><a href="/sign_out">Sign Out</a></li>
          <% else %>
            <li><a href="/sign_in">Sign In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<div class="container">
 <% if notice.present? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
 <% end %>

<%= yield %>
</div>
</body>
</html>
